@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #F9F3EE;
    width: 100%;
    height: 100vh;
    }

.root{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  